@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: aliceblue;
}
.info-text p {
    margin-right: 20px;
}

.info-text a {
    text-decoration: none;
    color: black;
    transition: all .4s;
}

.info-text a:hover {
    text-decoration: none;
    color: orange;
}

.info {
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
}
.card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 5px gray;
    background-color: white;
    margin-top: 10px;
    padding-left: 20px;
}

.info-text {
    margin-left: 40px;
}

.avatar {
   border-radius: 30px;
   height: 30%;
    
}

.container {
    max-width: 800px;
    margin: auto;
}

.table {
    width: 100%;
}

.table td {
    text-align:  center;
}

.form {

}

.form h2 {
    text-align: center;
}

.form-item label {
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
}


.form-item input,
.form-item textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.form-row  {
    margin-bottom: 10px;
    display: flex;
   
}

.form-row .form-item {
    margin-right: 40px;
   width: 50%;
}

.form-row .form-item:last-child {
    margin-right: 0;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px;
    transition: all 0.4s;
}

.btn:hover {
    opacity: 0.6;
}


.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
   
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: all .4s;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
}

.navbar a:hover {
    text-decoration: none;
    color: orange;
  
}

.navbar ul li {
    margin-right: 10px;
    color: white;
    transition: all .4s;
    padding: 6px;
}

.navbar ul li:last-child {
    margin-right: 0px;
   
}


.navbar ul li:hover {
    margin-right: 10px;
    color: orange;
}

@media (max-width: 600px) {
    .info {
        flex-direction: column;
    }
    
    .avatar {
        margin: auto;
    }

    .info-text p {
        margin-right: 40px;
    }
}

