@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: aliceblue;
}

.card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 5px gray;
    background-color: white;
    margin: 10px;
    padding-left: 20px;
}

h1 {
    text-align: center;
}
